---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    timeout: 45m
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    defaultPodOptions:
      hostNetwork: true
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/home-assistant
              tag: 2024.10.3@sha256:59cb3b01ea4695c5df8f4cc1e4d01fa7e22090caa3fd3f000a96b6a5de909f91
            envFrom:
              - secretRef:
                  name: hass-secrets
            env:
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              privileged: true
              #CHANGEME ON THE NEXT UPDATE
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - NET_ADMIN
                  - NET_RAW
                  - NET_BROADCAST
            resources:
              requests:
                cpu: 108m
                memory: 628M
              limits:
              #   cpu: 281m
                memory: 5599M
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          # nodeSelector:
          #   sonoff.feature.node.kubernetes.io/dongle-e: "true"
    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.108.44
        ports:
          http:
            port: 8123
          mdns-tcp:
            enabled: true
            port: 5353
            protocol: TCP
            targetPort: 5353
          mdns-udp:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
    ingress:
      main:
        className: internal
        hosts:
          - host: &host hass.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
      ext:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: &host home.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: home-assistant
      bt:
        enabled: true
        type: hostPath
        hostPath: /run/dbus
        globalMounts:
        - path: /run/dbus
      # usb:
      #   enabled: true
      #   type: hostPath
      #   hostPath: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20240122203435-if00
      #   # hostPathType: CharDevice
      #   globalMounts:
      #   - path: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20240122203435-if00
      tmp:
        type: emptyDir
      deploy-key:
        type: secret
        name: hass-secrets-gh
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_rsa
            subPath: GITHUB_DEPLOY_KEY
      known-hosts:
        type: secret
        name: hass-secrets-gh
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/known_hosts
            subPath: GITHUB_KNOWN_HOSTS
