---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: amd-gpu-plugin
spec:
  interval: 30m
  chart:
    spec:
      chart: amd-gpu
      version: 0.14.0
      sourceRef:
        kind: HelmRepository
        name: amdm
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: node-feature-discovery
      namespace: kube-system
  values:
    labeller:
      enabled: true
    nfd:
      enabled: false
    node_selector:
      feature.node.kubernetes.io/pci-0300_1002.present: "true"
      kubernetes.io/arch: amd64